{
  "semi": false,
  "singleQuote": true,
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^\\.\\./(context|hooks)/",
    "^\\.\\./(components)/",
    "^\\./",
    "^.*types.*$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
